# Digital Ocean Spaces
DO_SPACES_KEY=your_spaces_access_key
DO_SPACES_SECRET=your_spaces_secret_key
DO_SPACES_BUCKET=your_bucket_name
DO_SPACES_REGION=nyc3
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com

# Digital Ocean Droplet
DO_HOST=your_droplet_ip
DO_USER=your_droplet_username
DO_SSH_KEY=your_ssh_public_key
DO_APP_PATH=/home/deploy/your_app_directory

# session cookies
HEB_SESSION_COOKIE=your_heb_session_cookie_value